@use "../helper" as *;

/*Header Style*/
.cus-header {
  &-area {
    padding: 50px 0;
  }
  &-logo {
    // width: 150px;
  }
  &-mainmenu {
    & ul {
      & li {
        padding: 0 15px;
        display: inline-block;
      }
    }
  }
  &-button{
    & .cus-btn{
      background: linear-gradient(125.04deg, #632EE3 5.68%, #9F62F2 88.38%);
      padding: 12px 16px;
      border-radius: 5px;
      color: #fff;
    }
  }
}
